:root {
    --bg-color: #fff;
    --text-color: #333;
    --accent-color: #e63946;
  }
  
  .dark-mode {
    --bg-color: #210916;
    --text-color: #fff;
    --accent-color: #8c1aff;
  }

  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.3s, color 0.3s;
  }
  
.home-container {
    font-family: 'Montserrat', sans-serif;
  }
  
  .hero {
    background-image: url('/hero-image15.jpg');
    background-size:contain;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 0 2rem;
  }

  .dark-mode .hero{

    background-image: url('/hero-image14.jpg');
    background-size:contain;
    background-position: center;
  }
  
  .hero-content {
    background-color: rgba(31, 31, 31, 0.605);
    padding: 1.5rem;
    border-radius: 60px;
    max-width: 800px;
    transition: transform 0.3s, box-shadow 0.3s;
   }

   .dark-mode .hero-content {
    background-color: rgba(195, 194, 194, 0.605);
    padding: 1.5rem;
    border-radius: 60px;
    max-width: 800px;
    transition: transform 0.3s, box-shadow 0.3s;
   }

   .hero-content:hover {
    transform: translateY(-7px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.343);
    background-color: rgba(31, 31, 31, 0.872);
  }

  .dark-mode .hero-content:hover {
    transform: translateY(-7px);
    box-shadow: 0 10px 20px rgba(208, 207, 207, 0.705);
    background-color: rgba(195, 194, 194, 0.872);
  }

  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  .hero p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  .hero button {
    padding: 0.8rem 1.5rem;
    background-color: #e63946;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  .dark-mode  .hero button {
    padding: 0.8rem 1.5rem;
    background-color: #e8a229;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .hero button:hover {
    background-color: #d62828;
  }
  
  .dark-mode .hero button:hover{

    background-color: #654c21;

  }
  .why-opentable {
    text-align: center;
    padding: 2rem;
  }
  
  .why-opentable h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  .why-opentable p {
    font-size: 1.1rem;
    line-height: 1.6;
  }
  
  .image-gallery {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
  }
  
  .image-gallery img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }
  
